
/*.button {*/
/*    -fx-color: green;*/
/*}*/

/*.text-field {*/
/*    -fx-color: grey;*/
/*}*/

#root1 {
    -fx-background-color: #312e2b;
}

#pseudoNoir {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#tpsRestantNoir {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#pseudoBlanc {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#tpsRestantBlanc {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#bouton1, #bouton2, #boutonTournois {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

#statistiques {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
}